In [ ]:
import pandas as pd

:

## Model Training

In [ ]:
pip install pandas

In [2]:
df = pd.read_csv('finalTrain.csv')
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [3]:
df['Date']=df['Order_Date'].apply(lambda x:x.split('-'))
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Date
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,...,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,"[12, 02, 2022]"
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,...,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,"[13, 02, 2022]"
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,...,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,"[04, 03, 2022]"
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,...,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,"[13, 02, 2022]"
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,...,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,"[14, 02, 2022]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,...,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,"[24, 03, 2022]"
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,...,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,"[16, 02, 2022]"
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,...,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,"[11, 03, 2022]"
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,...,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,"[07, 03, 2022]"
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,...,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,"[02, 03, 2022]"

In [4]:
df['Date']=df['Order_Date'].apply(lambda x:x.split('-'))

In [5]:
df['day']=df['Order_Date'].str.split('-').str[0]
df['month']=df['Order_Date'].str.split('-').str[1]
df['year']=df['Order_Date'].str.split('-').str[2]

In [6]:
df['hour_Order_picked']=df['Time_Orderd'].str.split(':').str[0]
df['min_Order_picked']=df['Time_Orderd'].str.split(':').str[1]

In [7]:
df['order_hour']=df['Time_Orderd'].str.split(':').str[0]
df['order_min']=df['Time_Orderd'].str.split(':').str[1]

In [8]:
pd.Categorical(df)

['ID', 'Delivery_person_ID', 'Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude', ..., 'year', 'hour_Order_picked', 'min_Order_picked', 'order_hour', 'order_min']
Length: 28
Categories (28, object): ['City', 'Date', 'Delivery_location_latitude', 'Delivery_location_longitude', ..., 'multiple_deliveries', 'order_hour', 'order_min', 'year']

In [8]:
df=df.drop(labels=['ID','Delivery_person_ID','Date','Order_Date','Time_Orderd','Time_Order_picked'],axis=1)

In [9]:
df.hour_Order_picked=df['hour_Order_picked'].astype(float)
df.day=df['day'].astype(float)
df.month=df[ 'month'].astype(float)
df.year=df['year'].astype(float)
df.min_Order_picked=df['min_Order_picked'].astype(float)
df.order_hour=df['order_hour'].astype(float)
df.order_min=df['order_min'].astype(float)

In [10]:
## Independent and dependent features
X = df.drop(labels=['Time_taken (min)'],axis=1)
Y = df[['Time_taken (min)']]

In [11]:
Y

       Time_taken (min)
0                    46
1                    23
2                    21
3                    20
4                    41
...                 ...
45579                32
45580                36
45581                16
45582                26
45583                36

[45584 rows x 1 columns]

In [12]:
# Define which columns should be ordinal-encoded and which should be scaled
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

In [13]:
numerical_cols

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'day', 'month', 'year', 'hour_Order_picked',
       'min_Order_picked', 'order_hour', 'order_min'],
      dtype='object')

In [14]:
pd.Categorical(df)

['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', ..., 'year', 'hour_Order_picked', 'min_Order_picked', 'order_hour', 'order_min']
Length: 22
Categories (22, object): ['City', 'Delivery_location_latitude', 'Delivery_location_longitude', 'Delivery_person_Age', ..., 'multiple_deliveries', 'order_hour', 'order_min', 'year']

In [15]:
# Define the custom ranking for each ordinal variable
Weather_conditions=['Fog', 'Stormy', 'Sandstorms', 'Windy', 'Cloudy', 'Sunny']
Road_traffic_density=['Jam', 'High', 'Medium', 'Low', 'nan']
Type_of_order= ['Snack', 'Meal', 'Drinks', 'Buffet']
Type_of_vehicle=['motorcycle', 'scooter', 'electric_scooter', 'bicycle']
Festival=['No', 'Yes', 'nan']
City= ['Metropolitian', 'Urban', 'Semi-Urban', 'nan']

In [16]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [20]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,Festival,City,Time_taken (min),day,month,year,hour_Order_picked,min_Order_picked,order_hour,order_min
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,No,Metropolitian,46,12.0,2.0,2022.0,21.0,55.0,21.0,55.0
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,No,Metropolitian,23,13.0,2.0,2022.0,14.0,55.0,14.0,55.0
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,No,Metropolitian,21,4.0,3.0,2022.0,17.0,30.0,17.0,30.0
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,No,Metropolitian,20,13.0,2.0,2022.0,9.0,20.0,9.0,20.0
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,No,Metropolitian,41,14.0,2.0,2022.0,19.0,50.0,19.0,50.0

In [17]:
## Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

# Categorigal Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
])),
    ('scaler',StandardScaler())
    ]

)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [18]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [19]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [19]:
X_train.head()

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Restaurant_latitude,num_pipeline__Restaurant_longitude,num_pipeline__Delivery_location_latitude,num_pipeline__Delivery_location_longitude,num_pipeline__Vehicle_condition,num_pipeline__multiple_deliveries,num_pipeline__day,num_pipeline__month,...,num_pipeline__hour_Order_picked,num_pipeline__min_Order_picked,num_pipeline__order_hour,num_pipeline__order_min,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__Type_of_order,cat_pipeline__Type_of_vehicle,cat_pipeline__Festival,cat_pipeline__City
0,1.124025,-1.623440,0.647373,0.131167,0.669961,0.116679,-1.223528,-1.318236,-1.357091,0.041621,...,0.771107,0.527442,0.771107,0.527442,-0.261197,-1.308057,1.351642,-0.777630,-0.142953,-0.532682
1,-0.106505,-3.143059,0.647397,0.131248,0.668629,0.116295,-1.223528,3.943714,0.597342,0.041621,...,0.771107,-1.710538,0.771107,-1.710538,1.482131,-1.308057,1.351642,-0.777630,6.995304,1.805257
2,0.245075,0.504025,1.156141,0.443938,1.228657,0.452410,1.160323,0.435747,0.137475,-1.787652,...,-0.945003,0.900438,-0.945003,0.900438,0.319912,1.093916,-0.437167,0.753919,-0.142953,-0.532682
3,0.596655,-1.319517,-0.226656,0.165206,-0.293358,0.156297,1.160323,0.435747,0.022508,-1.787652,...,0.459087,-1.337541,0.459087,-1.337541,0.319912,-1.308057,-0.437167,0.753919,-0.142953,-0.532682
4,0.772445,-1.623440,0.258322,0.116402,0.230746,0.098366,-1.223528,0.435747,-0.552325,0.041621,...,-1.257023,0.900438,-1.257023,0.900438,0.319912,1.093916,-0.437167,-0.777630,-0.142953,1.805257

In [20]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [21]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [22]:
regression.coef_

array([[ 2.26757677e+00, -2.32676262e+00,  1.06514944e-02,
        -4.65060038e-01,  4.30442327e-02,  4.09978402e-01,
        -1.78659822e+00,  2.06165067e+00,  7.28281575e-02,
         1.53930864e-03,  8.77120311e+10,  9.29609585e+10,
         7.38892950e+12, -9.29609585e+10, -7.38892950e+12,
        -1.15974537e+00, -3.15372419e+00, -4.57151320e-02,
        -1.80304331e-02,  1.60346602e+00, -7.49093903e-01]])

In [23]:
regression.intercept_

array([26.31769462])

In [24]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [25]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 6.666513961189576
MAE: 5.260705709723835
R2 score 48.61847322862097
===================================


Lasso
Model Training Performance
RMSE: 7.081947624124816
MAE: 5.638425369306291
R2 score 42.015109674383055
===================================


Ridge
Model Training Performance
RMSE: 6.666407603921795
MAE: 5.260648819637144
R2 score 48.62011269273702
===================================


Elasticnet
Model Training Performance
RMSE: 7.131356305221122
MAE: 5.69306444243002
R2 score 41.203199987603526
===================================

In [26]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']